<li class="dropdown">
    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">COUNTRY</a>
    <ul class="dropdown-menu multi-column columns-3">
        <div class="row">
            <div class="col-sm-3">
                <ul class="multi-column-dropdown list_item">
                <li><a href="{% url 'country_movies_list' 'argentina' %}">Argentina</a></li>
                    <li><a href="{% url 'country_movies_list' 'argentina' %}">Argentina</a></li>
                    <li><a href="{% url 'country_movies_list' 'aruba' %}">Aruba</a></li>
                    <li><a href="{% url 'country_movies_list' 'australia' %}">Australia</a></li>
                    <li><a href="{% url 'country_movies_list' 'austria' %}">Austria</a></li>
                    <li><a href="{% url 'country_movies_list' 'bahamas' %}">Bahamas</a></li>
                    <li><a href="{% url 'country_movies_list' 'belgium' %}">Belgium</a></li>
                    <li><a href="{% url 'country_movies_list' 'bolivia' %}">Bolivia</a></li>
                    <li><a href="{% url 'country_movies_list' 'botswana' %}">Botswana</a></li>
                    <li><a href="{% url 'country_movies_list' 'brazil' %}">Brazil</a></li>
                    <li><a href="{% url 'country_movies_list' 'bulgaria' %}">Bulgaria</a></li>
                    <li><a href="{% url 'country_movies_list' 'canada' %}">Canada</a></li>
                    <li><a href="{% url 'country_movies_list' 'chile' %}">Chile</a></li>
                    <li><a href="{% url 'country_movies_list' 'china' %}">China</a></li>
                    <li><a href="{% url 'country_movies_list' 'congo' %}">Congo</a></li>
                    <li><a href="{% url 'country_movies_list' 'czech-republic' %}">Czech Republic</a></li>
                    <li><a href="{% url 'country_movies_list' 'denmark' %}">Denmark</a></li>
                    <li><a href="{% url 'country_movies_list' 'federal-republic-of-yugoslavia' %}">Federal Republic of Yugoslavia</a></li>
                    <li><a href="{% url 'country_movies_list' 'fiji' %}">Fiji</a></li>
                    <li><a href="{% url 'country_movies_list' 'finland' %}">Finland</a></li>

                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="multi-column-dropdown">
                    <li><a href="{% url 'country_movies_list' 'france' %}">France</a></li>
                    <li><a href="{% url 'country_movies_list' 'germany' %}">Germany</a></li>
                    <li><a href="{% url 'country_movies_list' 'greece' %}">Greece</a></li>
                    <li><a href="{% url 'country_movies_list' 'hong-kong' %}">Hong Kong</a></li>
                    <li><a href="{% url 'country_movies_list' 'hungary' %}">Hungary</a></li>
                    <li><a href="{% url 'country_movies_list' 'iceland' %}">Iceland</a></li>
                    <li><a href="{% url 'country_movies_list' 'india' %}">India</a></li>
                    <li><a href="{% url 'country_movies_list' 'indonesia' %}">Indonesia</a></li>
                    <li><a href="{% url 'country_movies_list' 'ireland' %}">Ireland</a></li>
                    <li><a href="{% url 'country_movies_list' 'israel' %}">Israel</a></li>
                    <li><a href="{% url 'country_movies_list' 'italy' %}">Italy</a></li>
                    <li><a href="{% url 'country_movies_list' 'jamaica' %}">Jamaica</a></li>
                    <li><a href="{% url 'country_movies_list' 'japan' %}">Japan</a></li>
                    <li><a href="{% url 'country_movies_list' 'jordan' %}">Jordan</a></li>
                    <li><a href="{% url 'country_movies_list' 'kenya' %}">Kenya</a></li>
                    <li><a href="{% url 'country_movies_list' 'lebanon' %}">Lebanon</a></li>
                    <li><a href="{% url 'country_movies_list' 'lithuania' %}">Lithuania</a></li>
                    <li><a href="{% url 'country_movies_list' 'luxembourg' %}">Luxembourg</a></li>
                    <li><a href="{% url 'country_movies_list' 'malaysia' %}">Malaysia</a></li>
                    <li><a href="{% url 'country_movies_list' 'malta' %}">Malta</a></li>
                    <li><a href="{% url 'country_movies_list' 'mexico' %}">Mexico</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="multi-column-dropdown">
                    <li><a href="{% url 'country_movies_list' 'monaco' %}">Monaco</a></li>
                    <li><a href="{% url 'country_movies_list' 'morocco' %}">Morocco</a></li>
                    <li><a href="{% url 'country_movies_list' 'netherlands' %}">Netherlands</a></li>
                    <li><a href="{% url 'country_movies_list' 'new-zealand' %}">New Zealand</a></li>
                    <li><a href="{% url 'country_movies_list' 'nigeria' %}">Nigeria</a></li>
                    <li><a href="{% url 'country_movies_list' 'norway' %}">Norway</a></li>
                    <li><a href="{% url 'country_movies_list' 'palau' %}">Palau</a></li>
                    <li><a href="{% url 'country_movies_list' 'panama' %}">Panama</a></li>
                    <li><a href="{% url 'country_movies_list' 'peru' %}">Peru</a></li>
                    <li><a href="{% url 'country_movies_list' 'philippines' %}">Philippines</a></li>
                    <li><a href="{% url 'country_movies_list' 'poland' %}">Poland</a></li>
                    <li><a href="{% url 'country_movies_list' 'portugal' %}">Portugal</a></li>
                    <li><a href="{% url 'country_movies_list' 'puerto-rico' %}">Puerto Rico</a></li>
                    <li><a href="{% url 'country_movies_list' 'qatar' %}">Qatar</a></li>
                    <li><a href="{% url 'country_movies_list' 'romania' %}">Romania</a></li>
                    <li><a href="{% url 'country_movies_list' 'russia' %}">Russia</a></li>
                    <li><a href="{% url 'country_movies_list' 'saudi-arabia' %}">Saudi Arabia</a></li>
                    <li><a href="{% url 'country_movies_list' 'serbia' %}">Serbia</a></li>
                    <li><a href="{% url 'country_movies_list' 'singapore' %}">Singapore</a></li>
                    <li><a href="{% url 'country_movies_list' 'slovakia' %}">Slovakia</a></li>
                    <li><a href="{% url 'country_movies_list' 'slovenia' %}">Slovenia</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="multi-column-dropdown">
                    <li><a href="{% url 'country_movies_list' 'south-africa' %}">South Africa</a></li>
                    <li><a href="{% url 'country_movies_list' 'south-korea' %}">South Korea</a></li>
                    <li><a href="{% url 'country_movies_list' 'spain' %}">Spain</a></li>
                    <li><a href="{% url 'country_movies_list' 'sri-lanka' %}">Sri Lanka</a></li>
                    <li><a href="{% url 'country_movies_list' 'sweden' %}">Sweden</a></li>
                    <li><a href="{% url 'country_movies_list' 'switzerland' %}">Switzerland</a></li>
                    <li><a href="{% url 'country_movies_list' 'taiwan' %}">Taiwan</a></li>
                    <li><a href="{% url 'country_movies_list' 'tanzania' %}">Tanzania</a></li>
                    <li><a href="{% url 'country_movies_list' 'thailand' %}">Thailand</a></li>
                    <li><a href="{% url 'country_movies_list' 'tunisia' %}">Tunisia</a></li>
                    <li><a href="{% url 'country_movies_list' 'turkey' %}">Turkey</a></li>
                    <li><a href="{% url 'country_movies_list' 'uk' %}">UK</a></li>
                    <li><a href="{% url 'country_movies_list' 'ukraine' %}">Ukraine</a></li>
                    <li><a href="{% url 'country_movies_list' 'united-arab-emirates' %}">United Arab Emirates</a></li>
                    <li><a href="{% url 'country_movies_list' 'usa' %}">USA</a></li>
                    <li><a href="{% url 'country_movies_list' 'vietnam' %}">Vietnam</a></li>
                    <li><a href="{% url 'country_movies_list' 'west-germany' %}">West Germany</a></li>
                    <li><a href="{% url 'country_movies_list' 'yugoslavia' %}">Yugoslavia</a></li>
                    <li><a href="{% url 'country_movies_list' 'zambia' %}">Zambia</a></li>
                </ul>
            </div>
        </div>
    </ul>
</li>