{% load static %}
<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-12 col-sm-3 col-md-3">
					<h5>Cinema</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="{% url 'home' %}"><i class="fa fa-angle-double-right"></i>Movies</a></li>
						<li><a href="{% url 'top_imdb' %}"><i class="fa fa-angle-double-right"></i>Top IMDB</a></li>
						<li><a href="{% url 'sitemap' %}"><i class="fa fa-angle-double-right"></i>Sitemap</a></li>
						<li><a href="{% url 'movies_feed' %}"><i class="fa fa-angle-double-right"></i>RSS</a></li>
					</ul>
				</div>
				<div class="col-12 col-sm-3 col-md-3">
					<h5>Info</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contact</a></li>
					</ul>
				</div>
				<div class="col-12 col-sm-6 col-md-6">
                    <h5>Subscribe</h5>
                    <p style="color: #909090">Subscribe to our mailing list to reiceive updates on newly added movies and tv-series.</p>
					<form class="form-outline mt-2 mt-md-0" method="post" action="javascript:void()">
                        <input class="span-4 form-control mb-2 mr-sm-2" type="text" placeholder="Email" name="email">
                        <button class="btn btn-block btn-warning btn-approve my-2 my-sm-0" type="submit"> Subscribe </button>
                    </form>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/ana.adrian1"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/adrian_ana1988"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/ana.adrian88/"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="mailto:ana.adrian1988@gmail.com"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>

			</div>	
		</div>
	</section>
	<!-- ./Footer -->