<li class="dropdown">
    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">GENRE</a>
    <ul class="dropdown-menu multi-column columns-2">
        <div class="row">
            <div class="col-sm-6">
                <ul class="multi-column-dropdown">
                    <li><a href="{% url 'genre_movies_list' "action" %}">Action</a></li>
                    <li><a href="{% url 'genre_movies_list' "anime" %}">Anime</a></li>
                    <li><a href="{% url 'genre_movies_list' "crime" %}">Crime</a></li>
                    <li><a href="{% url 'genre_movies_list' "family" %}">Family</a></li>
                    <li><a href="{% url 'genre_movies_list' "history" %}">History</a></li>
                    <li><a href="{% url 'genre_movies_list' "sport" %}">Sport</a></li>
                    <li><a href="{% url 'genre_movies_list' "romantic" %}">Romantic</a></li>
                    <li><a href="{% url 'genre_movies_list' "documentary" %}">Documentary</a></li>
                    <li><a href="{% url 'genre_movies_list' "horror" %}">Horror</a></li>

                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="multi-column-dropdown">
                    <li><a href="{% url 'genre_movies_list' "mistery" %}">Mistery</a></li>
                    <li><a href="{% url 'genre_movies_list' "sf" %}">SF</a></li>
                    <li><a href="{% url 'genre_movies_list' "thriller" %}">Thriller</a></li>
                    <li><a href="{% url 'genre_movies_list' "adventure" %}">Adventure</a></li>
                    <li><a href="{% url 'genre_movies_list' "comedy" %}">Comedy</a></li>
                    <li><a href="{% url 'genre_movies_list' "drama" %}">Drama</a></li>
                    <li><a href="{% url 'genre_movies_list' "biography" %}">Biography</a></li>
                    <li><a href="{% url 'genre_movies_list' "war" %}">War</a></li>
                </ul>
            </div>
        </div>
    </ul>
</li>