{% load static %}
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top dark">
  <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img id="logo" src="{% static 'movies/image/logo.png' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
              {% include 'movies/includes/_gen_list.html' %}
              {% include 'movies/includes/_country_list.html' %}
              <li><a class="nav-link" href="{% url 'trenduri' %}">FEATURED</a></li>
              <li><a class="nav-link" href="{% url 'home' %}">A-Z LIST</a></li>
{#                    <li><a class="nav-link" href="#">SERIALE TV</a></li>#}
              <li><a class="nav-link" href="{% url 'top_imdb' %}">TOP IMDB</a></li>
{#                    <li><a class="nav-link" href="# ">CERERI</a></li>#}
          </ul>
          <form action="{% url 'home' %}" class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q">
            <button class="btn btn-warning btn-approve my-2 my-sm-0" type="submit"> Search </button>
          </form>
        </div>
      </div>
</nav>