<div class="row">
    <div class="pagination">
        {% if is_paginated %}
            <button class="btn btn-warning my-2 my-sm-0 mr-1" style="pointer-events: none; color: #1a1a1a">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</button>
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-warning my-2 my-sm-0 mr-1"
                   href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                    <span>&laquo;</span></a>
            {% else %}
                <button class="btn btn-outline-warning my-2 my-sm-0 mr-1" style="pointer-events: none"><span>&laquo;</span></button>
            {% endif %}

            {% if page_obj.number|add:'-2' > 1 %}
                <a class="btn btn-outline-warning my-2 my-sm-0 mr-1" href="?page={{ page_obj.number|add:'-3' }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"">&hellip;</a>
            {% endif %}

            {% for page_num in page_obj.paginator.page_range %}
                {% if page_obj.number == page_num %}
                    <a class="lead btn btn-warning my-2 my-sm-0 mr-1" href="?page={{ page_num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page_num }}</a>
                {% else %}
                    {% if page_num > page_obj.number|add:-3 and page_num < page_obj.number|add:3  %}
                    <a class="btn btn-outline-warning my-2 my-sm-0 mr-1" href="?page={{ page_num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page_num }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
                <a class="btn btn-outline-warning my-2 my-sm-0 mr-1" href="?page={{ page_obj.number|add:'3' }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&hellip;</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-warning my-2 my-sm-0 mr-1"
                   href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                   <span>&raquo;</span></a>
            {% else %}
                <button class="btn btn-outline-warning my-2 my-sm-0 mr-1" style="pointer-events: none"><span>&raquo;</span></button>
            {% endif %}
        {% endif %}
    </div>
</div>