{% load static %}
<div class="row no-gutters mt-2">
    {% for movie in similar_movies %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-2">
            <a href="{{ movie.get_absolute_url }}">
                <img id="image{{ forloop.counter }}" class="card" src="{{ movie.cover.url }}" alt="Image">
            </a>
            <div id="container_hover{{ forloop.counter }}" class="container_hover">
                <a href="{{ movie.get_absolute_url }}">
                    <img class="card_over" src="{% static 'movies/image/cover.png' %}" alt="">
                    <p><img src="{% static 'movies/image/imdb.png' %}" alt=""> <b style="vertical-align: middle">{{movie.imdb_rating}}</b></p>
                    <div class="movie_quality_container">
                        <span class="movie_quality">HDCAM</span>
                    </div>
                    <p class="movie_name">The Shawshank Redemption</p>
                </a>
            </div>
        </div>
    {% endfor %}
</div>