{% extends 'movies/base.html' %}
{% load movie_tags %}
{% load static %}
{% block title %}{{ movie }}{% endblock %}

{% block body %}
    <div class="container">
        {% if movie.servers.all|length == 0 %}
            <h2>Coming soon...</h2>
        {% endif %}

        <div class="row">
            <div class="col-sm-10">
            {% for server in movie.servers.all %}
                <p>{{ server.name }}</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ server.url }}"
                            allowfullscreen="true"
                            webkitallowfullscreen="true"
                            mozallowfullscreen="true">
                    </iframe>
                </div>
            <br>
            {% endfor %}
            </div>
        </div>
        <div class="description_container">
            <div class="description">
            <div class="col-sm-10">
                <div class="movie_cover">
                    <img src="{{ movie.cover.url }}" alt="">
                </div>
                <h4>{{ movie.name|upper }}</h4>
                <p class="movie_desc">{{ movie.description }}</p>
                <p>
                    <span>Genre</span>:
                    {% for genre in movie.genre.all %}
                        <a href="{% url 'genre_movies_list' genre.slug %}">{{ genre.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p>
                    <span>Actors</span>:
                    {% for actor in movie.actors.all %}
                        <a href="{% url 'actor_movies_list' actor.slug %}">{{ actor.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p>
                    <span>Director</span>:
                    <a href="{% url 'director_movie_list' movie.director %}">{{ movie.director }}</a>
                </p>
                <p>
                    <span>Country</span>:
                    {% for country in movie.country.all %}
                        <a href="{% url 'country_movies_list' country.slug %}">{{ country.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <br>
                <p>
                    <span>Duration</span>: {{ movie.duration }} min
                </p>
                <p>
                    <span>Quality</span>: <span style="background-color: #141414; padding: 2px;">{{ movie.quality }}</span>
                </p>
                <p>
                    <span>Year</span>: {{ movie.release }}
                </p>
                <p style="font-size: 15px"><img src="{% static 'movies/image/imdb.png' %}" alt=""> <b>{{movie.imdb_rating}}</b></p>
            </div>
            </div>
        </div>
        <br>
        <br>
        <h3>Similar Movies</h3>
        {% show_similar_movies movie.pk %}
{#        <form action="" method="post">{% csrf_token %}#}
{#            {{ comment_form.as_p }}#}
{#            <input type="submit" value="Add Comment">#}
{#            <input type="hidden" name="pk" value="{{ movie.pk }}">#}
{#        </form>#}
    </div>
{% endblock %}