body{
    background-color: #1a1a1a;
	min-height: 100vh;
	color: white;
}

header {
	margin-bottom: 50px;
}

.description_container{
	margin-top: 20px;
    background-color: #212121;
	display: inline-grid;
	padding: 20px;
	width: inherit;
	font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
	font-size: 13px;

}

#navbar li a {
	font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
	font-size: 14px;
}

.movie_desc {
	font-style: italic;
	color: #888888;
	padding-bottom: 10px;

}

.description p {
	margin-bottom: 1px;
}

.description a {
	color: #f88b00;
	text-decoration: none;
}

.description a:hover {
	color: #c16100;
}


.movie_cover img{
    float: left;
	margin-right: 10px;
	max-width: 200px;
}


@media screen and (max-width:480px) {
  .movie_cover img {
    display: none;
  }
}
#1a1a1a
.description p span{
    color: white;
}

.description h4 {
	color: #f88b00;
}

#body.container {
	min-height: 60vh;
}

.dark {
  background-color: #232323;
 }

.card{
    height: 230px;
    width: 160px;
    border-radius: 15px;
    object-fit: cover;
    object-position: 50% 50%;
}

.card_over{
    height: 230px;
    width: 160px;
    border-radius: 15px;
	position: absolute;
	bottom: 0px;
}

#logo{
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.bottom-text{
	position: static;
	color: white;
	text-align: center;
	left: 0;
	right: 0;
	font-family: Asenine;
}

.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
  	margin: 0px;
  	padding: 0px;
}

.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.3;
	color: #262626;
	white-space: normal;
	font-family: "Book Antiqua" !important;
	font-size: 14px !important;
	font-weight: normal;
}

.multi-column-dropdown li a:hover {
	text-decoration: none;
	background-color: #fdda09;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

#navbar {
  position: inherit;
  top: 0;
  width: 100%;
  display: block;
}



.navbar-nav li a.nav-link:focus {
	color: #f4be00 !important;
}

.navbar-nav li a.nav-link:hover {
	color: #f4be00 !important;
}


/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: #232323 !important;
	margin-top: 70px;
	position: inherit;
	width: 100%;
	bottom: 0;
	background-color: #232323;
	padding: 60px 0px;
	margin-top: 70px;
}

#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}

#footer a {
    color: #909090;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li{
	padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#footer ul.social li a,
#footer ul.quick-links li a{
	color:#909090;
}

#footer ul.social li a:hover{
	color:#eeeeee;
	color: #f4be00;
}

#footer ul.quick-links li{
	padding: 3px 0;
}

#footer ul.quick-links li a i{
	margin-right: 5px;
}

#footer ul.quick-links li:hover a,
#footer ul.quick-links li:hover a i {
	color: #f4be00;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}}

.pagination {
	float: none;
	margin: 0 auto;
}

/*#movie_container img:hover {*/
    /*-webkit-filter: brightness(60%);*/
    /*-webkit-transition: all 0.5s ease;*/
    /*-moz-transition: all 0.5s ease;*/
    /*-o-transition: all 0.5s ease;*/
    /*-ms-transition: all 0.5s ease;*/
    /*transition: all 0.5s ease;*/
	/*z-index: 10;*/
/*}*/


.movie_container_hover p{
	bottom: 180px;
	margin-left: 6px;
	font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
	font-size: 13px;
	color: white;
	position: absolute;
	z-index: 1;
}

.movie_container_hover p.movie_quality {
	position: absolute;
	right: 20px;
	background-color: #ebdc2a;
	color: black;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 5px;
	font-weight: 500;

}

.movie_container_hover p.movie_name {
	font-size: 13px;
	font-style: italic;
	bottom: 15px;
	line-height: 1.2;
	text-align: center;
}

.col {
   -moz-hyphens:auto;
   -ms-hyphens:auto;
   -webkit-hyphens:auto;
   hyphens:auto;
   word-wrap:break-word;
}